body{
    font-family: sans-serif;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;

}

header{
    display: flex;
    background-color: #14161A;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;

}

.logo img{
     height: 50px;
     margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;

}

nav a:hover{
    color: red;
}

@media (max-width: 500px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0;
    }
}
   